$color_bg: #fff;
$color_text_default: #333;
$color_text_light: #fff;
$color_green: #42ca71;
$color_red: #ff3232;
$color_input_text: $color_text_default;
$color_input_border: lighten($color_text_default, 50);